# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.env/

# Logs
*.log

# Temporary files
*.tmp
*.swp
*~

# Local IDE/editor configs
.vscode/
.idea/
*.iml

# System files
.DS_Store
Thumbs.db
