polkit.addRule(function(action, subject) {
    if (subject.user == "radiobit") {

        // Escanear redes Wi-Fi
        if (action.id == "org.freedesktop.NetworkManager.wifi.scan") {
            return polkit.Result.YES;
        }

        // Crear / modificar conexiones de sistema
        if (action.id == "org.freedesktop.NetworkManager.settings.modify.system") {
            return polkit.Result.YES;
        }

        // Modificar conexiones propias (para levantar conexiones existentes)
        if (action.id == "org.freedesktop.NetworkManager.settings.modify.own") {
            return polkit.Result.YES;
        }

        // Activar conexiones (conectar)
        if (action.id == "org.freedesktop.NetworkManager.network-control") {
            return polkit.Result.YES;
        }
    }
});
