[Unit]
Description=Gunicorn daemon for Flask app
After=network.target stream.service
Wants=stream.service

[Service]
User=radiobit
Group=radiobit
WorkingDirectory=/home/radiobit/stream/web_app

ExecStart=/home/radiobit/radioenv/bin/gunicorn \
    app:app \
    --bind 127.0.0.1:8080 \
    --workers 3 \
    --threads 4 \
    --worker-class gthread \
    --timeout 180 \
    --access-logfile - \
    --error-logfile -

Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
